{% extends 'core/base.html' %}

{% load static %}
{% load tweet_tags %}

{% block title %}{% endblock title %}

{% block content %}

<section id="page-title">
    <h2>Noticias</h2>
</section>

<main id="main" class="p-3">

  <div class="container">
      <div class="row">
          <i class="icofont-home"></i> Noticias
      </div>
  </div>

  <section class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-uppercase txt-naranjo-2">Noticias</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container">
      <div class="row">

        {% if new.id_origin.short_name == 'UPLA' %}
        <h3>{{ new.headline }}</h3>
        <div class="row">
            <div class="col-6 text-justify">
            <p>{{ new.lead }}</p>
            </div>
            <div class="col-6">
                <img src="{{ new.link_image }}" alt="{{ n.headline }}" class="img-fluid">
            </div>
        </div>
        <div class="row text-justify">
            {{ new.body | safe }}
        </div>
        <div class="row">
            <p>
                Fuente: <a href="{{ new.link_source }}" target="_blank">{{ new.link_source }}</a>
            </p>
        </div>
        {% elif new.id_origin.short_name == 'TWITTER' %}
        <div class="col align-self-center">
            {% autoescape off %}{% tweet_tags new.link_source %}{% endautoescape %}
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% else %}
        </div>
        {% endif %}


          
      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}
