{% extends 'core/base.html' %}

{% load static %}

{% block title %}Base de Datos{% endblock title %}

{% block content %}

<section id="page-title">
    <h2>Bases de Datos</h2>
</section>

<main id="main" class="p-3">

  <div class="container">
      <div class="row">
          <i class="icofont-home"></i> Base de Datos
      </div>
  </div>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-5">
          <div class="col-12">
            <p class="text-justify">
              El <span class="txt-naranjo-2"> Observatorio Satelital de Nieves</span> dispondrá de dos nuevas bases de datos, implementando en una prueba de concepto en la cuenca del río Aconcagua (32.25 °S – 33.25 °S). Estas bases de datos se generan a partir de la información de todas las imágenes  satelitales optimizadas disponibles de los programas satelitales MODIS, Landsat y Sentinel.
            </p>
          </div>
        </div>
        <div class="col-7">
          <img src="{% static "img/cartografia/cartografia_bd.png" %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <img src="{% static "img/assets_maqueta/constelacion_satelites.png" %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container bg-azul-1" style="padding: 20px;">
      <div class="row ">
        <div class="col-5">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-amarillo-3">Base de Datos 1</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify text-white">
              La primera Base de Datos (BD1) contendrá un nuevo set diario de nieves con nubes reducidas desde el  año 2000 con una resolución espacial de 500 m. La principal base de información para esta base de  datos son las imágenes satelitales del producto MODIS (MOD10A1.006 Terra Snow Cover Daily Global, https://modis.gsfc.nasa.gov/data/) y contendrá el resultado de la prueba y selección de los distintos algoritmos  espaciales y temporales disponibles.
            </p>
          </div>
        </div>
        <div class="col-7">
          <img src="{% static "img/assets_maqueta/bd_1.png" %}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs" style="padding: 20px;">
      <div class="row ">
        <div class="col-6">
          <img src="{% static "img/assets_maqueta/bd_2.png" %}" alt="" class="img-fluid">
        </div>
        <div class="col-6">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-amarillo-3">Base de Datos 2</span>
            </p>
          </div>
          <div class="col-12 txt-azul-1 text-justify">
            <p>
              La segunda Base de Datos (BD2), corresponderá a un producto  fusionado con datos provenientes de los programas satelitales Landsat y Sentinel utilizando el producto Level-1 top of atmosphere (TOA) (http://reverb.echo.nasa.gov), Sentinel-1 producto Syntetic Aperture Radar (SAR) banda C y  Sentinel-2 producto Level-1C TOA (https://sentinel.esa.int/web/sentinel/sentinel-data-access) respectivamente.
            </p>
            <p>
              La  resolución espacial será de hasta 10 m cada 6 días cuando se disponga de imágenes Sentinel y de 30m  cada 16 días en los periodos que se cuente solo con imágenes Landsat. Esta base de datos unificada contendrá datos desde el año 1988 según la disponibilidad de imágenes del programa Landsat para el área estudiada.
            </p>
            <p>
              Ambas bases de datos se actualizarán en forma  automática en la medida que se liberen nuevas imágenes desde los programas satelitales. A partir de las nuevas bases de datos generadas se extraerán métricas sobre el  comportamiento de los patrones de nieve a distintas escalas temporales y espaciales permitiendo el monitoreo de la variabilidad de espacio temporal de la nieve para la cuenca de estudio. Esta  transformación de los datos de nieve a información relevante para diversos usuarios es fundamental  para la divulgación de información científica y se transforma en apoyo a los tomadores de decisiones.  Se podrá disponer de la evolución histórica de área cubierta por nieve a escala de cuenca, subcuenca  y subsubcuenca según la definición de la Dirección General de Aguas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <table class="table table-striped">
            <thead class="text-uppercase txt-naranjo-2">
                <tr>
                    <th>Características</th>
                    <th>BD1</th>
                    <td>BD2</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Disponibilidad de datos (años)</td>
                    <td>2000 - a la fecha</td>
                    <td>1988 - a la fecha</td>
                </tr>
                <tr>
                    <td>Resolución espacial</td>
                    <td>500 m</td>
                    <td>10 m - 30 m</td>
                </tr>
                <tr>
                    <td>Resolución temporal (cadencia)</td>
                    <td>diario</td>
                    <td>6 días - 16 días</td>
                </tr>
                <tr>
                    <td>Programa satelital utilizado</td>
                    <td>MODIS</td>
                    <td>Landsat y Sentinel</td>
                </tr>
                <tr>
                    <td>Tipo de producto obtenido</td>
                    <td>Producto mejorado reducción de nubes</td>
                    <td>Producto fusionado</td>
                </tr>
            </tbody>
          </table>

          <p class="text-justify">Las bases de datos de imágenes resultantes del proyecto estarán disponibles para su visualización o descarga  a través de la sección de visualizadores</p>
          <p>
              <a href="{% url 'display_description' %}" target="_self" class="text-uppercase">
                <i class="icofont-circled-right txt-naranjo-2"></i>
                Visualizadores
              </a>
          </p>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}