{% extends 'core/base.html' %}

{% load static %}

{% block title %}Visualizadores{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
    </div>
  </section><!-- End Hero -->

  <main id="main" class="p-3">

    <section class="news">
      <div class="container">
        <div class="section-title">
          <h2>Descripción de los visualizadores</h2>
        </div>

        <div class="row text-justify">
          <p>
            Las aplicaciones de Earth Engine Experimental son interfaces de usuario dinámicas que se pueden compartir de forma gratuita 
            para los análisis desarrollados en Google Earth Engine. Con las aplicaciones, los expertos pueden visualizar y utilizar elementos 
            simples de la interfaz de usuario a fin de aprovechar el catálogo de datos y el poder analítico de Earth Engine. Dentro de la 
            aplicación de Google Earth Engine Experimental se presentan los siguientes  visualizadores desarrollados:
          </p>
        </div>
      </div>
    </section>

    <!-- ======= Prototipo 5 Section ======= -->
    <section id="prototipo5" class="news">
      <div class="container">

        <div class="section-title">
          <h2>Visualizador 1: Estado Actual Zona Central</h2>
        </div>

        <div class="row text-justify">
            <p>
              A partir de la información histórica disponible del producto de nieves del sensor MODIS (MOD10A1) se calcula el promedio del Índice 
              Normalizado de Nieve (NDSI) para cada día del año (DOY, Day Of Year) en el periodo 2000-2020 correspondiente a la sección media-superior 
              de las cuencas de la zona central. Esta información se compara con el estado actual y se presenta en un gráfico de la actual temporada. La interfaz 
              presente en el mapa permite recorrer y observar la desviación desde el promedio (anomalía) para cada DOY hasta la última imagen más actual disponible.
            </p>

            <p>
              <div class="embed-responsive embed-responsive-4by3">
                  <iframe class="embed-responsive-item" src="https://observatorionieves.users.earthengine.app/view/estado-actual-zona-central" allowfullscreen></iframe>
              </div>
            </p>
            
        </div>
      </div>
    </section><!-- End News Section -->


  <!-- ======= Prototipo 1 Section ======= -->
  <section id="prototipo1" class="news">
    <div class="container">

      <div class="section-title">
        <h2>Visualizador 2: Estado Actual - cuenca del Río Aconcagua</h2>
      </div>

      <div class="row text-justify">
          <p>
            A partir de imágenes satelitales diarias del producto de nieves (MOD10A1) obtenidas del sensor MODIS,
            se calcula el promedio por DOY (Day Of Year/Día del año) con el Índice Normalizado de Nieve (NDSI). Se
            establece un indicador de variabilidad (error, desviación estándar, varianza) para caracterizar el año
            normal (verde), establecer un déficit de precaución (-10%) y uno de alerta (-20%). Esta interfaz de usuario
            a través del panel o directamente dentro del mapa, le permite personalizar su búsqueda seleccionando el
            área de interés por cuenca, subcuenca o sub-subcuenca, desplegando un gráfico correspondiente al año
            normal y el estado actual.
          </p>

          <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://observatorionieves.users.earthengine.app/view/estado-actual" allowfullscreen></iframe>
            </div>
          </p>


        
      </div>

    </div>
  </section><!-- End News Section -->

  <!-- ======= Prototipo 2 Section ======= -->
  <section id="prototipo2" class="about">
    <div class="container">

      <div class="section-title">
        <h2>Visualizador 3: Estacional</h2>
      </div>

      <div class="row text-justify">
          <p>
            En base a imágenes satelitales diarias del producto de nieves (MOD10A1) obtenidas del sensor MODIS,
            se establece una comparación estacional entre los distintos meses del año sobre la cuenca del Río
            Aconcagua mediante un panel divisorio. La información es recopilada a partir de los valores del promedio
            mensual del Indice Normalizado de Nieve (NDSI). Esta interfaz de usuario le permite seleccionar los
            meses de interés a analizar, desplegando el panel divisorio donde se visualizará el resultado dentro del
            mapa.
          </p>

          <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://observatorionieves.users.earthengine.app/view/promedio-ndsi-mensual" allowfullscreen></iframe>
            </div>
          </p>


        
      </div>

    </div>
  </section><!-- End News Section -->

  <!-- ======= Prototipo 3 Section ======= -->
  <section id="prototipo3" class="about">
    <div class="container">

      <div class="section-title">
        <h2>Visualizador 4: Interanual</h2>
      </div>

      <div class="row text-justify">
          <p>
            A partir de las imágenes satelitales diarias del producto de nieves del sensor MODIS (MOD10A1) se
            establece una comparación espacio temporal anual de nieves sobre la cuenca del río Aconcagua. La
            información presentada es recopilada a partir de los valores del promedio anual del Índice Normalizado
            de Nieve (NDSI). La interfaz de usuario le permite seleccionar un año de interés a analizar, generando la
            comparación a la izquierda y derecha del panel divisorio con los resultados.
          </p>

          <p>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://observatorionieves.users.earthengine.app/view/promedio-anual-ndsi" allowfullscreen></iframe>
            </div>
          </p>


        
      </div>

    </div>
  </section><!-- End News Section -->

    <!-- ======= Prototipo 4 Section ======= -->
    <section id="prototipo4" class="news">
        <div class="container">
    
          <div class="section-title">
            <h2>Visualizador 5: Descargas</h2>
          </div>
    
          <div class="row text-justify">
              <p>
                A partir de imágenes diarias del sensor satelital MODIS (MOD10A1) se determina la variabilidad espacio
                temporal de nieves sobre la cuenca del Aconcagua. Se presenta la información del valor promedio del
                Índice Normalizado de Nieve (NDSI), el promedio del área cubierta de nieve (SCA) y el promedio de &quot;no
                datos&quot; productos de la presencia de nubes, ángulo de visión, saturación del sensor, etc. La información
                
                inicial corresponde al análisis sobre la cuenca completa, todo el periodo de medición (desde el 2000) a
                una escala anual. Puede personalizar su búsqueda definiendo un periodo de medición, frecuencia de
                medición y el área interesada.
              </p>
    
              <p>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://observatorionieves.users.earthengine.app/view/downloaddata" allowfullscreen></iframe>
                </div>
              </p>
    
    
            
          </div>
    
        </div>
      </section><!-- End News Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contacto</h2>
          <!-- <p>Para mayor información acerca del "Observatorio Satelital de Nieves" o sobre Seminario Inaugural "Monitoreo Satelital de Nieves en el contexto del Cambio Climático", contáctanos a través del siguiente formulario.</p> -->
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Nuestra Dirección</h3>
              <p>Playa Ancha 850, Valparaíso, Chile</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Escríbanos</h3>
              <p>observatorionieves@upla.cl</p>
            </div>
          </div>


        </div>
        
        <!-- Mapa y Formulario de Contacto -->
        <!-- <div class="row" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3745.936091552179!2d-71.64162874155453!3d-33.02464899522459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e6c652de701d%3A0x1c6891fdd7b481be!2sUniversidad%20de%20Playa%20Ancha%20de%20Ciencias%20de%20la%20Educaci%C3%B3n%20Casa%20Central!5e1!3m2!1ses-419!2sbg!4v1604543859455!5m2!1ses-419!2sbg" frameborder="0" style="border:0; width: 100%; height: 367px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Enviando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado. Muchas gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>

        </div> -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock content %}
