{% extends 'core/base.html' %}

{% load static %}

{% block title %}Descripción Visualizadores{% endblock title %}

{% block content %}

<section id="page-title">
    <h2>Visualizadores</h2>
</section>

<main id="main" class="p-3">

  <div class="container">
      <div class="row">
          <i class="icofont-home"></i> Visualizadores / Descripcion
      </div>
  </div>

  <section class="p-3">
    <div class="container">
      <div class="row ">
        <div class="col-5">
          <img src="{% static "img/gee_logo.jpg" %}" alt="" class="img-fluid">
        </div>
        <div class="col-7">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-naranjo2-2 ">Descripción de los Visualizadores</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Las aplicaciones de Earth Engine Experimental son interfaces de usuario dinámicas que se pueden compartir de forma gratuita para los análisis desarrollados en Google Earth Engine. Con las aplicaciones, los expertos pueden visualizar y utilizar elementos simples de la interfaz de usuario a fin de aprovechar el catálogo de datos y el poder analítico de Earth Engine. Dentro de la aplicación de Google Earth Engine Experimental se presentan los siguientes  visualizadores desarrollados:
            </p>
          </div>
          <div class="col-12">
            <p>
                <a href="{% url 'display_modis' %}#visualizador-1" target="_self">
                  <i class="icofont-circled-right txt-naranjo-2"></i>
                  <b>VISUALIZADOR 1:</b> Estado Actual - zona central
                </a>
            </p>
            <p>
                <a href="{% url 'display_modis' %}#visualizador-2" target="_self">
                  <i class="icofont-circled-right txt-naranjo-2"></i>
                  <b>VISUALIZADOR 2:</b> Estado Actual - cuenca del Río Aconcagua
                </a>
            </p>
            <p>
                <a href="{% url 'display_modis' %}#visualizador-3" target="_self">
                  <i class="icofont-circled-right txt-naranjo-2"></i>
                  <b>VISUALIZADOR 3:</b> Estacional
                </a>
            </p>
            <p>
                <a href="{% url 'display_modis' %}#visualizador-4" target="_self">
                  <i class="icofont-circled-right txt-naranjo-2"></i>
                  <b>VISUALIZADOR 4:</b> Interanual
                </a>
            </p>
            <p>
                <a href="{% url 'display_modis' %}#visualizador-5" target="_self">
                  <i class="icofont-circled-right txt-naranjo-2"></i>
                  <b>VISUALIZADOR 5:</b> Descargas
                </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


</main><!-- End #main -->

{% endblock content %}