{% extends 'core/base.html' %}

{% load static %}

{% block title %}Eventos{% endblock title %}

{% block content %}

<section id="page-title">
    <h2>Divulgación</h2>
</section>

<main id="main" class="p-3">

  <div class="container">
      <div class="row">
          <i class="icofont-home"></i> Eventos
      </div>
  </div>

  <section class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-uppercase txt-naranjo-2">Eventos de Divulgación</h2>
        </div>
        <div class="col-12">
          <p>
            El observatorio propone una serie de actividades de divulgación para difundir los resultados y alcances del proyecto.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <h3 class="text-uppercase txt-naranjo-2">Seminarios</h3>
        </div>
        <div class="col-12 team-obs">
          <h4 class="text-uppercase txt-azul-1">Seminario Inaugural: Monitoreo Satelital de Nieves en el Contexto del Cambio Climático desarrollado el día 24 de noviembre de 2020</h4>
          <p class="text-justify">
            Esta actividad tuvo como objetivo dar a conocer el contexto y los objetivos del proyecto FONDEF ID20i10058 “Observatorio Satelital de Nieves” de la Universidad de Playa Ancha. Cuyas temáticas buscaban dar a conocer la importancia que tiene la nieve en la respuesta hidrológica de las cuencas, el impacto que tendrá el cambio climático y las tendencias esperadas para la zona central de chile y la importancia que tiene en este contexto  el monitoreo de nieves y como el proyecto contribuirá a ello.
          </p>
          <p>
            En complemento a lo señalado, la presente actividad estuvo integrada por 5 expositores:
          </p>
          <p>
            <table class="table table-striped table-bordered text-justify">
              <thead>
                <tr class="d-flex">
                  <th class="col-6">Nombre expositor</th>
                  <th class="col-6">Ponencia</th>
                </tr>
              </thead>
              <tbody>
                <tr class="d-flex">
                  <td class="col-6">
                    Dra. Stephanie Kampf. Profesora del Departamento de Ciencias Ecosistémicas y Sostenibilidad de la Universidad Estatal de Colorado, EE.UU (Colorado State University).
                  </td>
                  <td class="col-6">
                    "Respuesta hidrológica en cuencas dominadas por nieve".
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-6">
                    Dr. Sebastián Crespo. Profesor asociado del Instituto de Geografía, miembro del Centro de Acción Climática de la PUCV y director del Laboratorio de Territorios Hidrosociales y Cambio Climático de la PUCV y también investigador del CR2.
                  </td>
                  <td class="col-6">
                    "Aportes hídricos de la nieve y ambientes glaciales y periglaciales en los Andes Centrales".
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-6">
                    Dr. Raúl Cordero. Profesor asociado de la Universidad de Santiago, tiene gran experiencia en temas atmosféricos como climatología ultravioleta, mediciones de radiación en tierra, aseguramiento de la calidad de las mediciones de radiación solar y teledetección.
                  </td>
                  <td class="col-6">"Tendencias en las próximas décadas de precipitaciones y temperaturas en Chile central".</td>
                </tr>
                <tr class="d-flex">
                  <td class="col-6">
                    Dr. Freddy Saavedra. Profesor asociado en el Departamento de Ciencias Geográficas de la Universidad de Playa Ancha, sus investigaciones abordan el uso de herramientas de teledetección para el monitoreo ambiental en fenómenos como cobertura nival, vegetación e incendios forestales. Investigador principal del Laboratorio de Teledetección y Monitoreo Ambiental (TeleAmb) y del Proyecto FONDEF ID20i10058.
                  </td>
                  <td class="col-6">
                    "Tendencias de nieves en la cuenca del Aconcagua desde imágenes satelitales".
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-6">
                    Mg. Carlos Romero. Profesor asociado en el Departamento de Ciencias Geográficas de la Universidad de Playa Ancha, especialista en Geomorfología y en el manejo de Tecnologías de Información Geográficas. Investigador principal del Laboratorio de Teledetección y Monitoreo Ambiental (TeleAmb). Director del Proyecto FONDEF ID20i10058.
                  </td>
                  <td class="col-6">
                    "Observatorio satelital de nieves".
                  </td>
                </tr>
              </tbody>
            </table>
          </p>

          <p class="text-justify">
            El seminario tuvo una duración de 2 horas 30 minutos y una asistencia máxima de 73 espectadores en tiempo real y a la fecha cuenta con más de 360 vistas en la plataforma YouTube. La versión completa del seminario puede ser consultada en el siguiente link: <a href="https://youtu.be/c0gQofRHoxg?t=1137" target="_blank" class="txt-naranjo-2">https://youtu.be/c0gQofRHoxg?t=1137</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <h3 class="text-uppercase txt-naranjo-2">Participación en eventos de difusión</h3>
        </div>
        <div class="col-12 team-obs">
          <h4 class="text-uppercase txt-azul-1">Charla de Difusión Científica <b>Copernicus Chile</b></h4>
          <p class="text-justify">
            El Centro de Referencia (Copernicus Relay) provee coordinación y difusión a nivel nacional, información y ayuda respecto a los recursos del programa Copernicus de la Unión Europea para Chile. En el evento realizado el 10 de mayo de 2021, conducido por el Dr. Florencio Utreras tuvo como invitado al Dr. Freddy Saavedra quien presentó los avances del Proyecto FONDEF 2020: Observatorio Satelital de Nieves, plataforma online para descargar información histórica y actual de la cobertura de nieve. En dicha plataforma se proveerá información de los satélites MODIS, Landsat y Sentinel, aplicando algoritmos de reducción de nubes, para proveer a la comunidad científica y a distintos usuarios un producto mejorado sobre la cobertura de nieve en Chile y en un futuro para todos los Andes.
          </p>
          <div class="row">
            <div class="col-6">
              <img src="{% static "img/eventos/copernicus_relays_logo_500_01.png" %}" alt="" class="img-fluid">
            </div>
            <div class="col-6">
              <img src="{% static "img/eventos/00_Presentacion_copernicus.png" %}" alt="" class="img-fluid">
            </div>
          </div>
        </div>

        <div class="col-12 team-obs">
          <h4 class="text-uppercase txt-azul-1">Participación en Capacitación Gestión del Riesgo</h4>
          <p class="text-justify">
            En el marco de una serie de capacitaciones de Gestión del Riesgo organizadas por el Ministerio de Vivienda y Urbanismo, se participó en una jornada el día jueves 29 de julio presentando el Director del proyecto Carlos Romero los avances del Proyecto del Observatorio Satelital de Nieves. En dicho evento, también participaron Carolina Martínez, Felipe Droguett y Alexis Bravo.
          </p>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-6 align-self-center">
              <img src="{% static "img/eventos/Poster Presentación Serviu y Seremi.jpg" %}" alt="" class="img-fluid">
            </div>
            <div class="col-3"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <h3 class="text-uppercase txt-naranjo-2">Cursos</h3>
          <p>
            El equipo del proyecto comprometió una serie de cursos orientados a la comunidad científica y público en general que se ofertarán en distintos periodo del proyecto: 
          </p>
        </div>
        <div class="col-12 team-obs">
          <h4 class="text-uppercase txt-azul-1">Curso Google Earth Engine - Nivel Básico</h4>
          <p class="text-justify">
            Como parte del fortalecimiento de TeleAmb, se elaboró un curso básico de capacitación a la plataforma de programación Google Earth Engine en modalidad virtual para los asociados del proyecto FONDEF. Este curso tiene como objetivo conocer y  aprender a utilizar la plataforma de Google Earth Engine (GEE) y su potencial uso en el procesamiento de datos satelitales y monitoreo de la cobertura de nieve mediante la programación JavaScript.
          </p>
          <p>
            En esta primera parte de elaboración del curso se diseñan y establecen los contenidos para los 3 módulos:
          </p>
          <p>
            <table class="table table-striped table-bordered text-justify">
              <thead>
                <tr class="d-flex">
                  <th class="col-6">Temario</th>
                  <th class="col-6">Contenidos</th>
                </tr>
              </thead>
              <tbody>
                <tr class="d-flex">
                  <td class="col-6">
                    Unidad 1. Introducción a Google Earth Engine
                  </td>
                  <td class="col-6">
                    <ul>
                      <li>Introducción a Earth Engine</li>
                      <li>Editor de códigos</li>
                      <li>Introducción a JavaScript</li>
                      <li>JavaScript en Earth Engine</li>
                    </ul>
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-6">
                    Unidad 2. Procesamiento de datos en GEE
                  </td>
                  <td class="col-6">
                    <ul>
                      <li>Trabajo con colecciones de imágenes e imágenes</li>
                      <li>Operaciones matemáticas y cálculos de índices espectrales</li>
                      <li>Exportación de gráficos e imágenes</li>
                    </ul>
                  </td>
                </tr>
                <tr class="d-flex">
                  <td class="col-6">
                    Unidad 3. Elaboración de productos para la detección de nieves
                  </td>
                  <td class="col-6">
                    <ul>
                      <li>Aplicación de índices espectrales (NDSI)</li>
                      <li>Animaciones NDSI (GIF)</li>
                      <li>Series de tiempo en imágenes y colecciones de imágenes</li>
                      <li>Interfaz de usuario (widget)</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </p>

          <p class="text-justify">
            Una mayor variedad de cursos asociados a la teledetección se pueden encontrar en la página de <a href="#" class="txt-naranjo-2">teleamb.cl</a>
          </p>

          <p class="text-center">
            <img src="{% static 'img/curso/curso_gee_basico_24_sept.png' %}" alt="Curso GEE-Basico - NIEVE (inicio24 sept)" class="img-fluid">
          </p>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}