{% extends 'core/base.html' %}

{% load static %}

{% block title %}Eventos{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
    </div>
  </section><!-- End Hero -->

  <main id="main" class="p-3">

    <!-- ======= News Section ======= -->
    <section id="seminario" class="seminario">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Seminario Inaugural: Monitoreo Satelital de Nieves en el Contexto del Cambio Climático</h2>
        </div>

        <div class="row">
            
            <p></p>
            <p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/c0gQofRHoxg?start=1270" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </p>
        </div>

      </div>
    </section><!-- End News Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Contacto</h2>
          <!-- <p>Para mayor información acerca del "Observatorio Satelital de Nieves" o sobre Seminario Inaugural "Monitoreo Satelital de Nieves en el contexto del Cambio Climático", contáctanos a través del siguiente formulario.</p> -->
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Nuestra Dirección</h3>
              <p>Playa Ancha 850, Valparaíso, Chile</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Escríbanos</h3>
              <p>observatorionieves@upla.cl</p>
            </div>
          </div>


        </div>
        
        <!-- Mapa y Formulario de Contacto -->
        <!-- <div class="row" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3745.936091552179!2d-71.64162874155453!3d-33.02464899522459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e6c652de701d%3A0x1c6891fdd7b481be!2sUniversidad%20de%20Playa%20Ancha%20de%20Ciencias%20de%20la%20Educaci%C3%B3n%20Casa%20Central!5e1!3m2!1ses-419!2sbg!4v1604543859455!5m2!1ses-419!2sbg" frameborder="0" style="border:0; width: 100%; height: 367px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Enviando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado. Muchas gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>

        </div> -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock content %}
