{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}

  <main id="main" class="p-3">

    <section id="" class="">
      <div class="container">
        <div class="row justify-content-around">
          <div class="col-9">
            <p class="text-justify">
              El Fondo de Fomento al Desarrollo Científico y Tecnológico (Fondef) fue creado en 1991. Su propósito es contribuir al aumento de la competitividad de la economía nacional y al mejoramiento de la calidad de vida de los chilenos, promoviendo la vinculación entre instituciones de investigación, empresas y otras entidades en la realización de proyectos de investigación aplicada y de desarrollo tecnológico de interés para el sector productivo u orientados al interés público. Unas de las líneas de apoyo corresponde a proyectos de investigación y desarrollo (I+D) aplicada, con alto contenido científico, orientados a generar impactos económicos y/o sociales. Estos proyectos son ejecutados por instituciones de investigación vinculadas con empresas u otras entidades que les otorgan pertinencia. En este contexto la Universidad de Playa Ancha (UPLA) se adjudicó el proyecto “Observatorio Satelital de Nieves” en el concurso 2020.
            </p>
          </div>
          <div class="col-3">
            <img src="{% static "img/team/anid.png" %}" alt="" class="img-fluid">
          </div>
        </div>  
      </div>
    </section>

    <section class="team-obs ">
      <div class="container">
        <div class="row">
          <div class="col-3 align-self-end">
            <img src="{% static "img/assets_maqueta/logo_diseno.png" %}" alt="" class="img-fluid">
          </div>
          <div class="col-9">
            <h5 class="text-uppercase txt-naranjo-2">El Proyecto</h5>
            <p class="text-justify">
              La nieve estacional y los glaciares aportan agua a más de dos tercios de la población de Chile considerando que las cuencas alimentadas por deshielos son mayoritarias entre las regiones de Atacama y Maule. Sin embargo, los efectos del cambio climático están evidenciando una aceleración del derretimiento de las nieves y un retroceso de glaciares. Es por eso, que la cobertura de nieves es uno de los factores climáticos más importantes, ya que afecta tanto el albedo superficial, el balance energético y la circulación hidrológica por lo cual, bajo los distintos escenarios de cambio climático, resulta vital su monitoreo, a fin de determinar los efectos en el balance hídrico y la gestión de las cuencas alimentadas por deshielo. Además, la variabilidad espaciotemporal de los patrones de cobertura de nieves se ha utilizado para generar modelos operacionales para el deshielo, pronósticos de escorrentía, asimilación de datos y calibración/validación de varios modelos hidrológicos.
            </p>
            <p class="text-justify">
              Una adecuada determinación de la variabilidad espaciotemporal permitirá cuantificar posibles impactos, determinar y preparar planes de gestión de riesgos de desastres, seguridad hídrica y adaptación al cambio climático. Sin embargo, la baja densidad de estaciones de monitoreo en tierra impide capturar esta variabilidad lo cual es espacialmente complejo y de alto costo en áreas de alta variabilidad ambiental como son las zonas montañosas
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <img src="{% static "img/assets_maqueta/satelite_1.png" %}" alt="" class="img-fluid">
          </div>
          <div class="col-9">
            <h5 class="text-uppercase txt-naranjo-2">Objetivos</h5>
            <p class="text-justify">
              Busca generar un observatorio de nieves para la cuenca del río Aconcagua que recopile la información histórica, la actualice en forma continua y la haga disponible utilizando e integrando diversas fuentes de información espacial. Esta información estará dispuesta en una plataforma online de acceso público, accesible a los diversos usuarios, junto a un modelo de sostenibilidad que permita darle continuidad al observatorio.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr class="bg-azul-3">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row mb-4">
          <h5 class="text-uppercase text-justify txt-naranjo-2">Objetivos específicos</h5>
        </div>

        <div class="row align-items-top align-self-center">
          <div class="col-3">
            <div class="numberCircle mx-auto">1</div>
            <p class="text-center">
              Desarrollar dos bases de datos que contengan datos diarios de nieves con nubes reducidas con una resolución espacial de 500 m y datos al menos cada 16 días con resolución espacial al menos 30 m.
            </p>
          </div>
          <div class="col-3">
            <div class="numberCircle mx-auto">2</div>
            <p class="text-center">
              Determinar productos de nieve “listo para usar” a partir de las bases de datos generadas.
            </p>
          </div>
          <div class="col-3">
            <div class="numberCircle mx-auto">3</div>
            <p class="text-center">
              Implementar una plataforma online para la recopilación, presentación y distribución de  los productos de nieve y bases de datos generadas.
            </p>
          </div>
          <div class="col-3">
            <div class="numberCircle mx-auto">4</div>
            <p class="text-center">
              Generar acciones para lograr la sostenibilidad del observatorio, a través de la integración  de aspectos institucionales, tecnológicos y  financieros.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="p-3">
      <div class="container">
        <div class="row ">
          <h5 class="text-uppercase text-justify txt-naranjo-2">Proyecciones del proyecto</h5>
          <div class="col-12 text-justify">
            <p>
                El escalamiento del producto final esperado como Observatorio satelital de nieves, posterior al presente proyecto IDeA i+d, considera la expansión de la zona geográfica del prototipo a realizar proyectándose desde escala de cuenca, a nivel país y de todos los Andes.
            </p>
            <p>
                Con la información del comportamiento del manto de nieve entregada por el observatorio, se reducirá  la incertidumbre de los distintos actores y sectores económicos que dependen de este insumo para  desarrollar modelos hidrológicos. Estos modelos son necesarios para predecir la producción de agua  en sectores tan relevantes como la agricultura, permitiendo mejorar la gestión hídrica en las  organizaciones de usuarios de agua como las Juntas de Vigilancia. A nivel estatal, permitirá zonificar  las áreas que han experimentado disminución o no de la cobertura de nieves y la magnitud del  cambio. Esta información es relevante para generar planes de contingencia, mitigación y adaptación  a los cambios de la cobertura de nieve en el contexto del cambio climático. A nivel científico, permitirá  ser pioneros en Sudamérica al contar con un observatorio satelital de nieves, como los desarrollados  en el hemisferio norte. 
            </p>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock content %}
