{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}
<!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 100vh !important;">

    <div class="alert alert-danger mt-5 mx-5 d-flex justify-content-between" role="alert" style="z-index: 30;">
      <span>
        El Laboratorio de Teledetección Ambiental (TeleAmb) busca Doctores interesados en postular al concurso FONDECYT Postdoctorado 2022 para reforzar sus distintas líneas de investigación.
      </span>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Más información
      </button>
    </div>

    <div class="hero-container" data-aos="fade-up">
      <h1>OBSERVATORIO SATELITAL DE NIEVES</h1>
      <h2>Cuenca del Río Aconcagua</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main" class="p-3">


      <!-- ======= News Section ======= -->
      <section id="home" class="home">
        <div class="container">
  
          <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2>El Proyecto</h2>
          </div>
  
          <div class="row text-justify">
            
            <p>
              La nieve estacional y los glaciares aportan agua a más de dos tercios de la población de Chile
              considerando que las cuencas alimentadas por deshielos son mayoritarias entre las regiones de Atacama
              y Maule. Sin embargo, los efectos del cambio climático están evidenciando una aceleración del
              derretimiento de las nieves y un retroceso de glaciares.
              Es por eso, que la cobertura de nieves es uno de los factores climáticos más importantes, ya que afecta
              tanto el albedo superficial, el balance energético y la circulación hidrológica por lo cual, bajo los distintos
              escenarios de cambio climático, resulta vital su monitoreo, a fin de determinar los efectos en el balance
              hídrico y la gestión de las cuencas alimentadas por deshielo.
              Además, la variabilidad espaciotemporal de los patrones de cobertura de nieves se ha utilizado para
              generar modelos operacionales para el deshielo, pronósticos de escorrentía, asimilación de datos y
              calibración/validación de varios modelos hidrológicos.
              Una adecuada determinación de la variabilidad espaciotemporal permitirá cuantificar posibles impactos,
              determinar y preparar planes de gestión de riesgos de desastres, seguridad hídrica y adaptación al
              cambio climático.
              Sin embargo, la baja densidad de estaciones de monitoreo en tierra impide capturar esta variabilidad lo
              cual es espacialmente complejo y de alto costo en áreas de alta variabilidad ambiental como son las
              zonas montañosas
            </p>
          </div>
  
        </div>
      </section><!-- End News Section -->


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Objetivos del proyecto</h2>
        </div>

        <div class="row text-justify">
            
          <p>
            Busca generar un observatorio de nieves para la cuenca del río Aconcagua que recopile la información
            histórica, la actualice en forma continua y la haga disponible utilizando e integrando diversas fuentes de
            información espacial. Esta información estará dispuesta en una plataforma online de acceso público,
            accesible a los diversos usuarios, junto a un modelo de sostenibilidad que permita darle continuidad al
            observatorio.
          </p>

          <p>
            <b>Objetivos específicos</b>
          </p>
          <p>
            <ul>
              <li>Desarrollar dos bases de datos que contengan datos diarios de nieves con nubes reducidas con
                una resolución espacial de 500 m y datos al menos cada 16 días con resolución espacial al
                menos 30 m.</li>
              <li>Determinar productos de nieves “listo para usar” a partir de las bases de datos generadas.</li>
              <li>Implementar una plataforma online para la recopilación, presentación y distribución de los
                productos de nieve y bases de datos generadas.</li>
                <li>Generar acciones para lograr la sostenibilidad del observatorio, a través de la integración de
                  aspectos institucionales, tecnológicos y financieros.</li>
            </ul>
          </p>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Contacto</h2>
          <!-- <p>Para mayor información acerca del "Observatorio Satelital de Nieves" o sobre Seminario Inaugural "Monitoreo Satelital de Nieves en el contexto del Cambio Climático", contáctanos a través del siguiente formulario.</p> -->
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Nuestra Dirección</h3>
              <p>Playa Ancha 850, Valparaíso, Chile</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Escríbanos</h3>
              <p>observatorionieves@upla.cl</p>
            </div>
          </div>


        </div>
        
        <!-- Mapa y Formulario de Contacto -->
        <!-- <div class="row" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3745.936091552179!2d-71.64162874155453!3d-33.02464899522459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689e6c652de701d%3A0x1c6891fdd7b481be!2sUniversidad%20de%20Playa%20Ancha%20de%20Ciencias%20de%20la%20Educaci%C3%B3n%20Casa%20Central!5e1!3m2!1ses-419!2sbg!4v1604543859455!5m2!1ses-419!2sbg" frameborder="0" style="border:0; width: 100%; height: 367px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Enviando</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado. Muchas gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>
          </div>

        </div> -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">El Laboratorio de Teledetección Ambiental (TeleAmb) busca Doctores interesados en postular al concurso FONDECYT Postdoctorado 2022 para reforzar sus distintas líneas de investigación.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <iframe src="https://drive.google.com/file/d/1x2mcfn7y8tWtuv4bj-llgLaE1h1sTUgA/preview" width="100%" height="680px"></iframe>
        </div>
        <div class="modal-footer">
          <a href="https://drive.google.com/file/d/1x2mcfn7y8tWtuv4bj-llgLaE1h1sTUgA/view?usp=sharing" class="btn btn-primary" target="_blank">Abrir documento</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
