{% extends 'core/base.html' %}

{% load static %}

{% block title %}Directores{% endblock title %}

{% block content %}

<section id="page-title">
    <h2>Equipo de Trabajo</h2>
</section>

<main id="main" class="p-3">

  <div class="container">
      <div class="row">
          <i class="icofont-home"></i> Equipo de Trabajo / Directores
      </div>
  </div>

  <section id="" class="p-3">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-3">
          <img src="{% static "img/place-holder.png" %}" alt="" class="img-fluid">
        </div>
        <div class="col-9">
          <p class="text-justify">
            Para la ejecución del proyecto se conformó un equipo de trabajo compuesto por investigadores de la Facultad de Ciencias Naturales y Exactas y Facultad de Ingeniería de la Universidad de Playa Ancha a través de los laboratorios de Teledetección Ambiental (TeleAmb) y Data Science (Datoslab). Se incorporaron jóvenes profesionales para la ejecución tanto en terreno como en el desarrollo de los algoritmos de eliminación de nubes.
          </p>
        </div>
      </div>  
    </div>
  </section>

  <section class="pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-uppercase txt-naranjo-2">Directores</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/carlos_romero.png" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2">Carlos Romero</span> -  <span class="">Director</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
              Geógrafo. Especialista en el manejo de herramientas Sistema de Información  Geográficas (SIG), percepción remota satelital y del manejo de Plataformas Aéreas no Tripuladas  (Unmanned Aircraft System, UAS) conocidos coloquialmente como drones. Posee una experiencia de  18 años como consultor para empresas privadas en proyectos de manejo de cuencas y de cauces,  planes maestros de aguas lluvias (licitados por la DOH-MOP) y estudios de riesgos de remociones en  masa o aluviones. Su experiencia con el mundo privado le ha permitido desarrollar la capacidad de  enfocarse en soluciones prácticas con base científica y capacidad de interactuar con los  requerimientos del mundo privado.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              cromero@upla.cl
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/antonio_ugalde.png" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2">Antonio Ugalde</span> -  <span class="">Director alterno</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
              Posee una larga experiencia en trabajo con actores públicos y privados regionales. Se ha desempeñado en las áreas de gestión y dirección de proyectos, programas e  iniciativas de interés público. Ha sido representante de la UPLA en diversas instancias de  coordinación con el Gobierno Regional, como las mesas hídricas y el comité regional de Cambio  Climático y ha dirigido o co-dirigido proyectos en materias de gestión y gobernanza del agua y  adaptación al cambio climático.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              antonio.ugalde@upla.cl 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}