{% extends 'core/base.html' %}

{% load static %}

{% block title %}Equipo de Trabajo{% endblock title %}

{% block content %}

<section id="page-title">
    <h2>Equipo de Trabajo</h2>
</section>

<main id="main" class="p-3">

  <div class="container">
      <div class="row">
          <i class="icofont-home"></i> Equipo de Trabajo / Equipo
      </div>
  </div>

  <section id="" class="p-4">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-4">
          <img src="{% static "img/logos_obsnieves/logo-horizontal-color-positivo.png" %}" alt="" class="img-fluid">
        </div>
        <div class="col-8">
          <p class="text-justify">
            Para la ejecución del proyecto se conformó un equipo de trabajo compuesto por investigadores de la Facultad de Ciencias Naturales y Exactas y Facultad de Ingeniería de la Universidad de Playa Ancha a través de los laboratorios de Teledetección Ambiental (TeleAmb) y Data Science (Datoslab). Se incorporaron jóvenes profesionales para la ejecución tanto en terreno como en el desarrollo de los algoritmos de eliminación de nubes.
          </p>
        </div>
      </div>  
    </div>
  </section>


  {% if teams %}
  {% for team in teams %}
  <section class="pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-uppercase txt-naranjo-2">{{ team.position }}</h2>
        </div>
      </div>
    </div>
  </section>

    {% for member in team.members %}
    <section class="p-3">
      <div class="container team-obs">
        <div class="row ">
          <div class="col-2">
            <img src="{{ member.image.url }}" alt="" class="img-fluid team-image-obs">
          </div>
          <div class="col-10">
            <div class="col-12">
              <p class="text-uppercase font-weight-bold">
                <span class="txt-azul-2">{{ member.name }}</span> {% if member.name_position_alt %}-  <span class="">{{ member.name_position_alt }}</span>{% endif %}
                
              </p>
            </div>
            <div class="col-12">
              <p class="text-justify">
                  {{ member.description }}
              </p>
            </div>
            <div class="col-12">
              <p class="font-weight-bold">
                <i class="icofont-email icofont-1x"></i> 
                {{ member.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}

  {% endfor %}
  {% else %}
  <section class="pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-uppercase txt-naranjo-2">Noticias no disponibles</h2>
        </div>
      </div>
    </div>
  </section>

  {% endif %}

</main><!-- End #main -->

{% endblock content %}