{% extends 'core/base.html' %}

{% load static %}

{% block title %}Profesionales{% endblock title %}

{% block content %}

<section id="page-title">
    <h2>Equipo de Trabajo</h2>
</section>

<main id="main" class="p-3">

  <div class="container">
      <div class="row">
          <i class="icofont-home"></i> Equipo de Trabajo / Investigadores
      </div>
  </div>

  <section class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-uppercase txt-naranjo-2">Profesionales</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/daniela_gonzalez.png" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2 ">Daniela González</span> -  <span class="font-weight-bold">Coordinadora de proyecto</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Geógrafa. Profesora de los cursos de Teledetección y Teledetección Aplicada en la carrera de Geografía UPLA. Ha desarrollado investigaciones utilizando teledetección para el seguimiento de incendios, interfaz urbano-forestal mediante el análisis espacio-temporal con imágenes satelitales. Actualmente se desempeña como coordinadora de proyecto del presente proyecto FONDEF en el Laboratorio de Teledetección Ambiental (TeleAmb) de la Universidad de Playa Ancha.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              daniela.gonzalez@upla.cl 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/yael_aguirre.png" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2">Yael Aguirre</span> -  <span class="">Asistente de investigación</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Geógrafa. Profesional con experiencia en el manejo de imágenes satelitales. Ha desarrollado investigaciones utilizando teledetección para el seguimiento de cultivos agrícolas asociado a la expansión agrícola en laderas de cerros, cuerpos de agua, expansión urbana/industrial, mediante el análisis espacio-temporal. Actualmente se desempeña como asistente de investigación del presente proyecto FONDEF en el Laboratorio de Teledetección Ambiental (TeleAmb) de la Universidad de Playa Ancha.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              yael.aguirre@upla.cl
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/nickolas_bermudez.png" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2">Nickolas B. Bassi </span> -  <span class="">Asistente de investigación</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Geógrafo. Profesional con experiencia en logística y ejecución de campañas de terreno, trabajo de campo, operación de drones e instrumental de terreno y el desarrollo de investigaciones en áreas costeras en Chile continental e insular asociadas a humedales y estudios de Cambio Climático. Actualmente se desempeña como asistente de investigación del presente proyecto FONDEF del Laboratorio de Teledetección  Ambiental (TeleAmb) de la Universidad de Playa Ancha.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              nickolas.bermudez@upla.cl
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/ana_hernandez.png" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2">Ana Hernández</span> -  <span class="">Asistente de investigación</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Magíster en Desarrollo Regional y Medio Ambiente, candidata al Doctorado Interdisciplinario en Ciencias Ambientales de la Universidad de Playa Ancha, posee experiencia en manejo de imágenes satelitales para el estudio de cambios de cobertura terrestre. Actualmente  es profesora de la carrera de Geografía de la Universidad de Playa Ancha y participa del presente proyecto FONDEF como coordinadora del Laboratorio (Lab Manager) de Teledetección Ambiental (TeleAmb).
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              ana.hernandez@upla.cl
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/ezequiel_lagos.png" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2">Ezequiel Lagos</span> -  <span class="">Asistente de investigación</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Ingeniero Informático. Profesional con experiencia en desarrollo de aplicaciones web, administración de servidores Linux, desarrollo de aplicaciones móviles y soluciones informáticas para empresas. Experiencia en el desarrollo de algoritmos de extracción automática de información (Web Scraping); tecnologías basadas en Python, PHP, HTML, CSS y Javascript; y frameworks de desarrollo web. Actualmente se desempeña como desarrollador del presente proyecto FONDEF en el Laboratorio de Datos (DatosLab) de la Universidad de Playa Ancha.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              ezequiel.lagos@upla.cl
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}