{% extends 'core/base.html' %}

{% load static %}

{% block title %}Estudiantes{% endblock title %}

{% block content %}

<section id="page-title">
    <h2>Equipo de Trabajo</h2>
</section>

<main id="main" class="p-3">

  <div class="container">
      <div class="row">
          <i class="icofont-home"></i> Equipo de Trabajo / Estudiantes
      </div>
  </div>

  <section class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
          <h2 class="text-uppercase txt-naranjo-2">Estudiantes</h2>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/valentina_contreras.jpg" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2 ">Valentina Contreras</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Es estudiante de la Carrera de Geografía de la Universidad de Playa Ancha, actualmente se encuentra desarrollando su tesis de investigación enfocada en la variabilidad espacio-temporal de la cobertura de nieve y su relación con parámetros climáticos en la cuenca del Río Aconcagua, utilizando teledetección e imágenes satelitales del Programa MODIS.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              valentina.contreras@alumnos.upla.cl  
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/marcela_ortiz.jpg" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2">Marcela Ortiz Silva</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Es estudiante de la Carrera de Geografía de la Universidad de Playa Ancha, actualmente se encuentra desarrollando su tesis de investigación enfocada en el análisis de persistencia de nieve utilizando teledetección e imágenes satelitales del Programa Landsat.
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              marcela.silva@alumnos.upla.cl
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-3">
    <div class="container team-obs">
      <div class="row ">
        <div class="col-2">
          <img src="{% static "img/team/cristhian_moscoso.jpg" %}" alt="" class="img-fluid team-image-obs">
        </div>
        <div class="col-10">
          <div class="col-12">
            <p class="text-uppercase font-weight-bold">
              <span class="txt-azul-2">Cristhian Moscoso</span>
            </p>
          </div>
          <div class="col-12">
            <p class="text-justify">
                Es estudiante de la Carrera de Geografía de la Universidad de Playa Ancha, actualmente se encuentra desarrollando su tesis de investigación enfocada en el análisis espacio temporal de cambios en la cobertura terrestre de un paisaje mediterraneo en la zona central de Chile utilizando teledetección e imágenes satelitales del Programa Landsat
            </p>
          </div>
          <div class="col-12">
            <p class="font-weight-bold">
              <i class="icofont-email icofont-1x"></i> 
              cristhian.moscoso@alumnos.upla.cl 
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}